$medium-width: 1200px;
$large-width: 1600px;
$mobile-width: 992px;
@mixin medium-width {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}
@mixin medium-width-max {
  @media (max-width: #{$large-width}) {
    @content;
  }
}
@mixin large-width {
  @media (min-width: #{$large-width}) {
    @content;
  }
}
@mixin isMobile {
  @media (max-width:#{$mobile-width}) {
    @content;
  }
}
.page1 {
  .header {
    div {
      margin: 0 1rem;
    }
  }
  .section {
    position: relative;
    .video {
      position: relative;
      .video {
        position: absolute;
        top: 25%;
        left: 15%;
        width: 70%;
        div {
          height: 100% !important;
        }
      }
      .frame_video {
        position: relative;
        z-index: 1;
      }
      .bg_video {
        position: absolute;
        top: 25%;
        left: 15%;
        z-index: 0;
        width: 70%;
      }
      .btn-play {
        position: absolute;
        z-index: 3;
        left: 45%;
        top: 45%;
        width: 100px;
      }
      .logo {
        position: absolute;
        left: -80px;
        top: -30px;
        width: 30%;
        z-index: 1;
      }
    }
    .menu {
      width: 225px;
      height: 400px;
      position: absolute;
      right: 100px;
      z-index: 2;
      background-image: url(../../static/img/page1/tab_mn.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 11.5rem 0 0 0;
      @include medium-width-max() {
        right: 2px;
      }
      @include isMobile() {
        width: 150px;
        height: 240px;
        right: 0;
        padding: 6.5rem 0 0;
      }
      a {
        height: 50px;
        display: block;
        margin-bottom: 11px;
        @include isMobile() {
          height: 35px;
        }
      }
    }
    .control-menu {
      width: 85px;
      height: 110px;
      position: absolute;
      right: 300px;
      top: 150px;
      z-index: 1;
      background-image: url(../../static/img/page1/push_tab_btn.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @include isMobile() {
        width: 55px;
        height: 75px;
        right: 120px;
        top: 90px;
      }
      .icon-control-tab-menu {
        svg {
          width: 100%;
          height: 100%;
        }
        height: 85%;
        color: white;
        top: 10px;
        position: relative;
        width: 50px;
        left: 15px;
        @include isMobile() {
          height: 40%;
          top: 23px;
          width: 40px;
          left: 3px;
        }
      }
    }
    .progress {
      background-image: url(../../static/img/page1/progress/frame2.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      width: 225px;
      height: 590px;
      padding: 10rem 0 0 0;
      @include isMobile() {
        width: 155px;
        height: 391px;
        padding: 7rem 0 0;
      }
      .progress-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem 0 1rem;
        margin-right: 20px;
        @include isMobile() {
          margin-right: 16px;
        }
      }
      .bg-pr-1,
      .bg-pr-3,
      .bg-pr-5 {
        background: #2d94ed;
      }
      .step {
        width: 75px;
        padding-right: 8px;
        @include isMobile() {
          width: 45px;
        }
      }
      .step-large {
        padding: 0;
      }
      .reward {
        width: 40px;
        @include isMobile() {
          width: 25px;
        }
      }
      .progress-step {
        height: 60px;
        width: 20px;
        @include isMobile() {
          height: 37px;
          width: 12px;
        }
      }
      .text-regis {
        width: 100px;
        padding: 8px 0 0 1rem;
      }
    }
  }
  .btn-rules {
    position: relative;
    .character-1 {
      position: absolute;
      right: 5%;
      top: -180%;
      width: 20%;
    }
  }
}
