$medium-width: 1200px;
$large-width: 1600px;
$mobile-width: 992px;
$mobile-small-width: 700px;
$medium-width2: 1330px;
@mixin medium-width {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}
@mixin medium-width-max {
  @media (max-width: #{$large-width}) {
    @content;
  }
}
@mixin medium-width-2 {
  @media (max-width: #{$medium-width2}) {
    @content;
  }
}
@mixin large-width {
  @media (min-width: #{$large-width}) {
    @content;
  }
}
@mixin isMobile {
  @media (max-width:#{$mobile-width}) {
    @content;
  }
}
@mixin isMobileSmall {
  @media (max-width:#{$mobile-small-width}) {
    @content;
  }
}
.page1 {
  .header {
    div {
      margin: 0 1rem;
    }
  }
  .section {
    position: relative;
    .video {
      position: relative;
      .video {
        position: absolute;
        top: 15%;
        left: 16%;
        width: 68%;
        height: 67%;
        overflow: hidden;
        @include medium-width-max() {
          top: 39%;
        }
        @include medium-width-2() {
          top: 45%;
        }
        @include isMobile() {
          top: 24%;
        }
        div:nth-child(1) {
          height: 97% !important;
        }
      }
      .frame_video {
        position: relative;
        z-index: 2;
        top: -9%;
        height: 98%;
        @include medium-width-max() {
          top: 100px;
        }
        @include isMobile() {
          top: 0;
        }
      }
      .bg_video {
        position: absolute;
        top: 15%;
        left: 15%;
        z-index: 1;
        width: 69%;
        @include medium-width-max() {
          top: 43%;
        }
        @include isMobile() {
          top: 25%;
        }
      }
      .btn-play {
        position: absolute;
        z-index: 3;
        left: 45%;
        top: 45%;
        width: 100px;
      }
      .control-sound {
        position: absolute;
        right: 23%;
        bottom: 26%;
        font-size: 30px;
        color: white;
        @include medium-width-max() {
          bottom: 2%;
        }
        @include isMobile() {
          bottom: 18%;
        }
      }
      .sound-muted {
        color: #e45050;
      }
      .logo {
        position: absolute;
        left: -25px;
        top: -40px;
        width: 25%;
        z-index: 2;
        @include medium-width-max() {
          top: 15%;
          left: 0;
        }
        @include isMobile() {
          top: 0;
          left: 0;
        }
      }
    }
    .menu {
      width: 155px;
      height: 180px;
      right: 0;
      padding: 2rem 0 0;
      position: fixed;
      z-index: 7;
      background-image: url(../../static/img/page1/tab_mn.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      top: 140px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      transition-duration: 500ms;
      @include medium-width() {
        width: 230px;
        height: 275px;
        right: 40px;
        padding: 4rem 0 0 0;
      }
      @include medium-width-max() {
        right: 2px;
      }
      .menu-header {
        width: 100%;
        position: absolute;
        top: -75px;
        left: 0;
        @include medium-width() {
          top: -100px;
        }
      }
      a {
        height: 35px;
        display: block;
        margin-bottom: 11px;
        width: 80%;
        @include medium-width() {
          height: 50px;
        }
      }
    }
    .hide-menu {
      right: -230px;
    }
    .control-menu {
      width: 65px;
      height: 90px;
      position: fixed;
      right: 127px;
      top: 185px;
      z-index: 6;
      background-image: url(../../static/img/page1/push_tab_btn.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition-duration: 500ms;
      @include medium-width() {
        width: 75px;
        height: 105px;
        right: 190px;
      }
      @include large-width() {
        right: 230px;
        top: 225px;
      }
      // @include isMobile() {
      //   width: 55px;
      //   height: 75px;
      //   right: 120px;
      //   top: 90px;
      // }
      .icon-control-tab-menu {
        svg {
          width: 100%;
          height: 100%;
        }
        height: 81%;
        color: white;
        top: 10px;
        position: relative;
        width: 40px;
        left: 10px;
        z-index: 12;
        // @include isMobile() {
        //   height: 40%;
        //   top: 23px;
        //   width: 40px;
        //   left: 3px;
        // }
      }
    }
    .hide-control-menu {
      transition-duration: 300ms;
      right: -20px;
      @include medium-width() {
        right: -30px;
        transition-duration: 500ms;
      }
      .icon-control-tab-menu {
        transform: rotateY(-180deg);
      }
    }
    .progress {
      background-image: url(../../static/img/page1/progress/frame2.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      width: 155px;
      height: 391px;
      padding: 7rem 0 0;
      top: 10%;
      @include medium-width() {
        width: 225px;
        height: 590px;
        padding: 10rem 0 0 0;
      }
      @include isMobile() {
        top: -18%;
      }
      .progress-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem 0 1rem;
        margin-right: 20px;
        @include isMobile() {
          margin-right: 16px;
        }
      }
      .bg-pr-1,
      .bg-pr-3,
      .bg-pr-5 {
        background: #2d94ed;
      }
      .step {
        width: 45px;
        padding-right: 8px;
        @include medium-width() {
          width: 75px;
        }
      }
      .step-large {
        padding: 0;
      }
      .reward {
        width: 25px;
        position: relative;
        cursor: pointer;
        @include medium-width() {
          width: 40px;
        }
      }
      .progress-step {
        height: 37px;
        width: 12px;
        @include medium-width() {
          height: 60px;
          width: 20px;
        }
      }
      .text-regis {
        width: 100px;
        padding: 8px 0 0 1rem;
      }
    }
    .step-rewards {
      position: absolute;
      top: -45px;
      width: 415px;
      left: 90px;
      @include isMobileSmall() {
        width: 360px;
      }
      .step-bg {
        width: 104%;
        height: 158px;
        @include isMobileSmall() {
          height: 150px;
        }
      }
      .step-bg-large {
        height: 180px;
      }
      .step-title {
        width: 45%;
        top: -16%;
        position: absolute;
        left: 26%;
      }
      table {
        position: absolute;
        top: 40px;
        color: white;
        width: 92%;
        left: 4%;
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        @include isMobileSmall(){
          font-size: 12px;
        }
      }
      th {
        text-align: center;
      }
    }
  }
  .btn-rules {
    position: relative;
    top: -6.5rem;
    @include medium-width-max() {
      top: 90px;
    }
    @include isMobile() {
      top: 10px;
    }
    .character-1 {
      position: absolute;
      right: -4%;
      top: -315%;
      width: 500px;
      z-index: 2;
      @include medium-width-max() {
        right: 0%;
        width: 25%;
      }
    }
  }
}
.popup-container {
  padding: 0 !important;
  .bg-popup-register {
    width: 100%;
    height: 345px;
    @include isMobile() {
      height: 245px;
    }
  }
  .bg-popup-rule {
    width: 100%;
    height: 420px;
  }
  .bg-popup-success {
    width: 100%;
    height: 185px;
  }
  div {
    background-color: transparent;
    .ant-modal-close-x {
      color: white;
    }
    .ant-modal-body {
      padding: 0;
      .title-popup-register {
        position: absolute;
        width: 40%;
        left: 30%;
        top: -7%;
      }
      .title-popup-rule {
        position: absolute;
        width: 40%;
        left: 30%;
        top: -6%;
      }
      .title-popup-success {
        position: absolute;
        width: 40%;
        left: 30%;
        top: -12%;
      }
      .alert-success {
        position: absolute;
        top: 40%;
        left: 27%;
        color: white;
      }
      form {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 20% 3rem;
        @include isMobile() {
          padding: 11% 3rem 0;
        }
        .ant-form-item-label {
          text-align: start;
          label {
            color: white;
          }
        }
        .ant-form-item-explain {
          // color: #ff4d4f;
          // margin: 7px 0;
        }
        .ant-btn-primary {
          background: #2076b7;
          border-color: #2076b7;
        }
      }
      .popup-rule {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 10% 3rem;
        p {
          margin-bottom: 0.5rem;
          color: white;
          font-size: 14.5px;
        }
      }
    }
  }
}
